    <div class="w3-container w3-card-2 w3-white" style="margin-bottom: 15px;">

        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{post.category}}</h2>
        {% for post in site.categories.education %}
            <div class="w3-container">
                <h5 class="w3-opacity"><b>School of Coding</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
                    {{ post.from | date: "%b %-d, %Y" }} - {{ post.to | date: "%b %-d, %Y" }}
                </h6>
                <p>{{ post.content }}</p>

            {% if forloop.last == false %}
                <hr>
            {% endif %}
            </div>
        {% endfor %}
    </div>
