<div class="w3-row-padding">
{% for post in site.categories.projects %}
        <div class="w3-quarter w3-container w3-margin-bottom">
            <a href="{{ post.external_link }}" style="color: black;">
                <div class="w3-card-4 flex-container" style="width:100%">
                <img src="{{ site.baseurl }}{{ post.photo }}" alt="{{ post.photo }}">
                <div class="w3-container w3-center flex-container" style="height:90px; overflow: hidden;">
                    <div style="padding-top: 10px;">
                        <p>{{post.subtitle}}</p>
                    </div>
                </div>
            </a>
            <div class="w3-right-align" style="width: 100%; margin-bottom: 5px; margin-right: 5px;">
                <button onclick="document.getElementById('{{post.modal}}').style.display='block'" class="w3-button w3-right w3-teal-light ">More info</button>
            </div>
                </div>
        </div>
</div>

<!-- The Modal -->
<div id="{{post.modal}}" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-teal-light">
        <span onclick="document.getElementById('{{post.modal}}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h2>{{ post.title }}</h2>
      </header>
      <div class="w3-container">

    <div class="w3-container" style="margin-top: 10px; margin-bottom: 10px;">
        <p>Used technology:
            {% for tag in post.tags %}
                    <span style="margin-top: 2px; margin-bottom: 2px;" class="w3-tag w3-teal">{{ tag }}</span>
            {% endfor %}
        </p>
    </div>
    <div class="w3-container" style="margin-top: 10px; margin-bottom: 10px;">
        {{post.content}}
    </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
            // Get the modal
        var modal = document.getElementById('{{post.modal}}');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
{% endfor %}
