    <div class="w3-container w3-card-2 w3-white" style="margin-bottom: 15px;">

    <!-- <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li> -->
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        {% for post in site.categories.work %}
            <div class="w3-container">
                <h5 class="w3-opacity"><b>School of Coding</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                <p>{{ post.content }}</p>
            {% if forloop.last == false %}
                <hr>
            {% endif %}

            </div>
        {% endfor %}
    </div>
